/* Fyberz Append */
.card{
    border-radius: 8px !important;
    box-shadow: -8px 12px 18px 0 #dadee8 !important;
}
.btn-mic{
    border-radius: 100%;
    color: red;
    font-size: 2em;
    width:70px;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3 ease-in;
    border: 2px solid red;
    position: relative;
    z-index: 3;
    background-color: white;
}
.btn-mic:hover{
    color:white;
    background-color: red;
    transition: all 0.3 ease-in;
    border-color: transparent;
}

#div_start {
    position: relative;
    text-align: center;
    margin: auto;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle_ripple.animate{
    height:50px;
    width:50px;
    background:#ff0000;
    border-radius:50%;
    -webkit-animation-name: ripple 2s infinite; 
    animation: ripple 2s infinite;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index:0
}
.circle_ripple-2.animate{
    height:50px;
    width:50px;
    background:#ff0000;
    border-radius:50%;
    -webkit-animation-name: ripple 2s infinite; 
    animation: ripple-2 2s infinite;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index:0
}
.btn-mic:has(> i.animate){
    background-color: red;
    color: white;
}
#results {
    background-color: white;
    font-size: 16px !important;
    padding: 5px 5px 5px 5px;
    width: 98%;
    padding: 15px;
    text-align: left;
    min-height: 80px;
    position: relative;
}

.gears-set{
    position:absolute;
    top:5px;
    right:5px;
    color: #011c40 ;
}
.gears-set .gears-set-small{
    position:absolute;
    top: 23px;
    right: 3px;

}
.gears-set .gears-set-big{
    position:absolute;
    top: 0px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.primary-color{
    color: #011c40;
}
.bg-primary-color, .btn-primary{
    background-color: #011c40;
    color: #fff;
}
.btn-controls{
    position: absolute;
    top:0;
    right: 20px;
}
#copy_button, #reset_button, #print_button{
    opacity:0.2;
    background-color: #011c40;
    transition: all 0.2s ease-in;
}
#copy_button:hover, #reset_button:hover, #print_button:hover{
    opacity:1;
    background-color: #0a3267;
    transition: all 0.2s ease-in;
}

#final_span {
    background-color: #f2fff9;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    width: 98%;
    padding: 15px;
    text-align: left;
    min-height: 200px;
}

@keyframes ripple {
    0% {
   transform:translate(-50%, -50%) scale(1);
     }
     50% {
   transform:translate(-50%, -50%) scale(2);
       opacity:0.3;
     }
    100% {
   transform:translate(-50%, -50%) scale(1);
      
     }  
   }
   @keyframes ripple-2 {
    0% {
   transform:translate(-50%, -50%) scale(1);
     }
     50% {
   transform:translate(-50%, -50%) scale(2.5);
       opacity:0.3;
     }
    100% {
   transform:translate(-50%, -50%) scale(1);
     }  
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
@keyframes rotation-1 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.rotate {
    animation: rotation 1s infinite linear;
}
.rotate-1{
    animation: rotation-1 1s infinite linear;
}
#info {
    font-size: 20px;
  }



  .interim {
    color: #a69999;
  }

  .final {
    color: black;
    padding: 1px;
  }

  .marquee {
    margin: 10px auto;
  }

  .boxed {
    background-color: #B9E5F3;
    width: 90%;
    max-width: 800px;
    height: auto;
    border: 1px solid #51A2D9;
    padding: 10px;
    margin: 5px;
  }

  .grid-container {
    display: grid;
    max-width: 726px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: auto auto auto;
    padding: 3px;
  }

  .grid-container1 {
    display: grid;
    max-width: 740px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 4px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 12px;
    text-align: center;
  }

  .grid-item1 {
    background-color: #B9E5F3;
    text-align: center;
    font-size: 14px;
  }